body {
    margin: 0;
    padding: 0;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.scroll-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.container-1 {
    display: flex;
    width: 600px;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.123);
    border-radius: 25px;
    transition: ease-in-out 0.5s;
}

.container-1 h1 {
    border-bottom: 3px solid whitesmoke;
    margin: 20px;
    text-align: start;
    font-size: 30px;
    color: whitesmoke;
    padding-bottom: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #eee;
    margin: 20px;
    text-align: justify;
}

.cont-next {background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%)}
.cont-next {
   margin: 10px;
   margin-top: 100px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: none;
   display: block;
 }

 .cont-next:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
