body {
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;  /* Added this line */
    justify-content: space-between;  /* Changed this line */
    align-items: center;
    height: 100vh;
    overflow-y: auto;  /* Enable vertical scrolling */
}

.scroll-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.container-1, .container-2 {
    width: 600px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px; /* padding-bottom: 20px; */
    transition: ease-in-out 0.5s;
    height: 100vh;
}

.container-1 {
    margin-bottom: 20px;
}

.container-2 {
    margin-top: 20px;
    height: 100vh;
}

.container-1 h1, .container-2 h1 {
    border-bottom: 3px solid whitesmoke;
    margin: 20px;
    text-align: start;
    font-size: 30px;
    color: whitesmoke;
    padding-bottom: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 20px;
    text-align: justify;
    border-radius: 5px;
    outline: 3px solid rgb(255, 255, 255);
    background-color: rgba(250, 235, 215, 0.25);
    padding: 20px;
    transition: ease-out 0.3s;
}

p:hover {
    background-color: rgba(250, 235, 215, 0.65);
    padding: 20px;

}
